@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700|Open+Sans:300,400,700|Playfair+Display:400,700');

@keyframes boing{
  0% {height: 150px; width: 150px;}
  50%{height: 155px; width: 155px;}
  100%{height: 153px; width: 153px;}
}

@keyframes scroll-ball{
  0% {
    webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 0;
  }
  40%{
    webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
  70%{
    opacity: 1;
  }
  100%{
    -webkit-transform: translateY(12px);
    transform: translateY(12px);
    opacity: 0;
  }
}


.no-decoration{
  text-decoration: none !important;
}

.hover-background-purple{
  &:hover{
    background-color: rebeccapurple;
  }
}



$light-green:       #B1C041;

html,
body {
  margin: 0 ;
  // overflow-x: hidden;
  height: 100%;
}

.center{
  display: flex;
  align-items: center;
  justify-content: center;
}


//////////////////////// SEPARADORES //////////////////////
//////////////////////// SEPARADORES //////////////////////
//////////////////////// SEPARADORES //////////////////////

.separador{
  height: 2px;
  width: 50%;
}
.separador-mini{
  margin: -10px 0 20px!important;
  width: 60px;
}
.separador-contacto{
  margin-bottom: 25px;
  position: relative;
  width: 200px;
  margin: 10px auto 35px;
  background-color: #00ADCF;
}
.separador-planes{
  margin: -5px 0 5px;
  background-color: white;
}

$shadow: rgba(0, 0, 0, 0.5);

///////////////////    HEADER   /////////////////////
///////////////////    HEADER   /////////////////////
///////////////////    HEADER   /////////////////////
///////////////////    HEADER   /////////////////////
///////////////////    HEADER   /////////////////////

//vvvvv   MENU   vvvvvv//
//vvvvv   MENU   vvvvvv//

#menu-bar{
  position: relative;
  width: 100%;
  top: 50px;
  height: 65px;
  z-index: 3;
  animation-name: aparecer_menu;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-timing-function: ease;
  animation-delay: 1s;
  opacity:0;

@keyframes aparecer_menu {
    from { opacity:0;}
    to { opacity:1;}
  }

  display: flex;
  //justify-content: center;
  align-items: center;
  color: white;

  #extra-icons{
    #menu-icons-wrapper{
      margin-left: 50px;
      display: flex;
      justify-content: center;
      align-items: center;
      .menu-icon{
        cursor: pointer;
      }
      #contacto-wrapper{
        margin: 0 4px;
        font-size: 21px;
        width: 50px;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        &:hover{
          //background-color: rebeccapurple;
          border-radius: 100%;
        }
      }
      #share-wrapper{
        margin: 0 4px;
        font-size: 21px;
        width: 50px;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        &:hover{
          //background-color: rebeccapurple;
          border-radius: 100%;
        }
      }
      #lang-wrapper{
        margin: 0 4px;
        font-size: 21px;
        width: 50px;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        &:hover{
          &+.text{
            margin-left: 0;
            -moz-transition: all 0.5s ease;
            -o-transition: all 0.5s ease;
            -webkit-transition: all 0.5s ease;
          }
          i{
            //background-color: rebeccapurple;
            border-radius: 100%;
          }
        }
        &+.text{
          font-size: 18px;
          margin-left: -15px;
          -moz-transition: all 0.5s ease;
          -o-transition: all 0.5s ease;
          -webkit-transition: all 0.5s ease;
        }
        i{
          margin-right: 10px;
          font-size: 21px;
          width: 50px;
          height: 50px;
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }
    }
  }
  #menu-icon-wrapper{
    position: fixed;
    right: 50px;
    top: 42px;
    #menu-icon{
      display: inline-block;
      z-index: 9999;
      mix-blend-mode: multiply;
      color: white;
      height: 60px;
      width: 60px;
      background-color: #39ADFF;
      font-size: 32px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 100%;
    }
  }
}


//^^^^^   MENU   ^^^^^^//
//^^^^^   MENU   ^^^^^^//


////////////////////    BODY    /////////////////////
////////////////////    BODY    /////////////////////
////////////////////    BODY    /////////////////////
////////////////////    BODY    /////////////////////
////////////////////    BODY    /////////////////////

#indicadores{
  position: fixed;
  right: 3%;
  z-index: 99 !important;
  height: 100vh;
  width: 20px;
  .indicator-ul{
    list-style-type: none;
    li{
      display: flex;
      justify-content: center;
      height: 30px;
      align-items: center;
      .indicador{
        display: block;
        width: 8px;
        height: 8px;
        overflow: hidden;
        border: 2px solid white;
        border-radius: 100%;
        margin-bottom: 20px;
        &:hover{
          height: 10px;
          width: 10px;
          background-color: #fff;
        }
      }
      .active{
        background-color: #f00!important;
        width: 12px!important;
        height: 12px!important;
      }
    }

  }
}




//vvvvv   Wiping panels   vvvvvv//
//vvvvv   Wiping panels   vvvvvv//
#section-wipes{
  position: relative;
  //top: 100vh;
  margin-top: -65px;
  height: 100vh;

  @keyframes barra {
    from { height: 120px;}
    to { height: 0;}
  }
.rect-top{
  height: 120px;
  width: 100%;
  background-color: black;
  position: absolute;
  z-index:2;
  animation-name: barra;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-timing-function: ease;
    animation-delay: 0.5s;
}

.rect-bot{
  height: 120px;
  width: 100%;
  background-color: black;
  position: absolute;
  z-index:2;
  bottom: 0;
  animation-name: barra;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-timing-function: ease;
  animation-delay: 0.5s;

  @keyframes barra {
    from { height: 120px;}
    to { height: 0;}
  }
}

  //vvvvv   PARLAX WORLD   vvvvvv//
  //vvvvv   PARLAX WORLD   vvvvvv//

  .scene-wrapper{
    position: relative;
    //top:-100vh;
    //margin-top: -65px;
    height: 100vh;
    width: 100%;
    z-index: 0 !important;
    overflow: hidden; /* comment this line to see what happens behind the scenes */
  }

  .scene {
    background-image: url("../img/sky-2.jpg");
    background-color: #28282c;
    background-size: cover;
    //width: 100vw;
    position: relative;
    padding: 0;
    margin: 0;
    overflow: hidden;


    animation-name: example;
    animation-duration: 1s;
    animation-fill-mode: forwards;

    @keyframes example {
      from { transform: scale(2);}
      to { transform: scale(1);}
    }




      #logo, #serv_1, #serv_2, #serv_3, #serv_4, #serv_5, #serv_6{
        position: relative;
        height: 150px;
        width: 150px;
        .button__text{
          color: #fff;
          font-family: 'Open Sans Condensed', sans-serif;
        }
      }

      #logo{
        top: 22vh !important;
        left: 37vw !important;
        height: 300px;
        width: 300px;
      }

      #serv_1{
        top: 9vh !important;
        left: 5vw !important;
        }#follow_1{
          height: 160px;
          width: 160px;
          img{
            width: 100%;
          }
        }

        #serv_2{
          top: 47vh !important;
          left: -5vw !important;
          }#follow_2{
            height: 120px;
            width: 120px;
            img{
              width: 100%;
            }
          }

          #serv_3{
            top: 76vh !important;
            left: 16vw !important;
          }
          #follow_3{
            height: 90px;
            width: 90px;
            img{
              width: 100%;
            }
          }

          #serv_4{
            top: 35vh !important;
            left: 75vw !important;
          }
          #follow_4{
            height: 100px;
            width: 100px;
            img{
              width: 100%;
            }
          }

          #serv_5{
            top: 74vh !important;
            left: 88vw !important;
            }#follow_5{
              height: 150px;
              width: 150px;
              img{
                width: 100%;
              }
            }

            #serv_6{
              top: 9vh !important;
              left: 97vw !important;
              }#follow_6{
                height: 200px;
                width: 200px;
              }

              #serv_7{
                top: 74vh !important;
                left: 88vw !important;
                }#follow_7{
                  height: 150px;
                  width: 150px;
                  img{
                    width: 100%;
                  }
                }


                #scroll-down{
                  top: 90vh !important;
                  right: 0;
                  text-align: center;
                  background: none;
                  border: none;
                }

                #mouse-wheel{
                  animation: scroll-ball ease-in-out 1.9s infinite;

                }

                .logo-tuvitrina{
                  background-image: url("../img/logo-tuvitrina.png");
                }
                .logo-onewing{
                  background-image: url("../img/logo-onewing-04.png");

                }

                .onewing-img{
                  height: 320px;
                  width: 320px;
                  background-size: contain;
                  background-repeat: no-repeat;

                  // border-radius: 100%;
                  transition: filter 0.2s ease;
                  // -webkit-filter: saturate(0); /* Safari 6.0 - 9.0 */
                  // filter: saturate(0);
                  // border: 1px solid #fff;

                  &:hover{
                    -webkit-filter: saturate(2); /* Safari 6.0 - 9.0 */
                    filter: saturate(2);
                    transition: filter 0.2s ease;
                    cursor: pointer;
                  }
                }

                .service-img{
                  background-size: contain;
                  background-repeat: no-repeat;

                  // border-radius: 100%;
                  transition: filter 0.2s ease;
                  -webkit-filter: saturate(1); /* Safari 6.0 - 9.0 */
                  filter: saturate(1);
                  // border: 1px solid #fff;

                  &:hover{
                    //-webkit-filter: grayscale(0%); /* Safari 6.0 - 9.0 */
                    // filter: grayscale(0%);
                    transition: filter 0.2s ease;
                    cursor: pointer;
                  }
                }


                button{
                  transition: background 0.5s ease;
                  border-radius: 100%;
                  overflow: hidden;
                  &:hover {
                    order-radius: 100%;
                    overflow: hidden;
                    background: #00FFAA;
                    transition: background 0.5s ease;
                  }
                }
              }

              .fill {
                position: absolute !important;
                bottom: 0%;
                right: 0%;
                left: 0%;
                top: 0%;
              }

              .expand-width {
                width: 50%;
              }

              .border {
                border: 2px dashed #00FFAA;
              }

              .wrapper {
                position: relative;
                max-width: 600px;
                margin: 0 auto;
                padding: 5%;
              }

              //^^^^^   PARLAX WORLD   ^^^^^^//
              //^^^^^   PARLAX WORLD   ^^^^^^//

              //vvvvv   Planes   vvvvvv//
              //vvvvv   Planes   vvvvvv//
              #planes-section{
                box-shadow: 0px -10px 10px $shadow;
                z-index: 10  !important;

                #planes-wrapper{
                  z-index: 11  !important;
                  display: flex;
                  margin: 0 !important;
                  padding: 0 !important;
                  height: 100vh;

                  .plan-apolo-wrapper{
                    margin:0;
                    background-color: #0CAACF;
                    z-index: 12 !important;
                    width: 100%;
                    height: 100%;
                    padding: 35px 15px;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    @media(min-width: 991px){
                      width: 60%;
                    }
                  }
                  .otros-planes-wrapper{
                    margin:0;
                    background-color: #0554fa;
                    z-index: 12 !important;
                    width: 100%;
                    height: 100%;
                    @media(min-width: 991px){
                      width: 40%;
                    }

                    .plan-ares-wrapper{
                      margin:0;
                      height: 50%;
                      width: 100%;
                      background-color: #E6535B;
                      padding: 35px 15px;
                      z-index: 13 !important;
                      display: flex;
                      flex-direction: column;
                      justify-content: center;
                      align-items: center;
                    }
                    .plan-athenea-wrapper{
                      margin:0;
                      padding: 35px 15px;
                      height: 50%;
                      width: 100%;
                      background-color: #5F4896;
                      z-index: 13 !important;
                      display: flex;
                      flex-direction: column;
                      justify-content: center;
                      align-items: center;
                    }
                  }

                  .img-wrapper{
                    width: 50%;
                    margin: auto;
                    .wordpress{
                      max-height: 220px;
                    }
                    img{
                      width: 100%;
                    }

                  }
                  .info-wrapper{
                    color: white;
                    padding: 0 10%;
                    width: 100%;
                    .tittle{
                      font-size:30px;
                      font-family: 'Open Sans Condensed', sans-serif;
                      font-weight: bold;
                      text-transform: uppercase;
                    }
                    .info{
                      font-family: 'Open Sans', sans-serif;
                      font-size: 18px;
                      margin-bottom: 25px;
                    }
                  }
                }
              }

              #planes-extra-section{
                box-shadow: 0px -10px 10px $shadow;
                z-index: 20  !important;
                #planes-extra-wrapper{
                  display: flex;
                  margin: 0 !important;
                  padding: 0 !important;
                  height: 100vh;
                  //background-color: #125cd0;
                  z-index: 21 !important;

                  .extra-plans-img{
                    background-color: #B1C041;
                    height: 100%;
                    width: 60%;
                    margin:0;
                    z-index: 22 !important;
                    overflow: hidden;
                    position: relative;
                    img{
                      position: absolute;
                      left: -10px;
                      bottom: 0;
                      max-width: 1024px;
                    }
                  }
                  .extra-plans-info{
                    color: white;
                    background-color: #384780;
                    height: 100%;
                    width: 40%;
                    margin:0;
                    z-index: 22 !important;
                    padding: 30px 4%;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    .tittle{
                      color: $light-green;
                      font-size: 25px;
                      margin-bottom: 15px;
                      font-family: 'Open Sans Condensed', sans-serif;
                      font-weight: bold;
                      text-transform: uppercase;
                      display: flex;
                      align-items: center;
                      i{
                        font-size: 15px;
                        margin-right: 10px;
                      }
                    }
                    .bigText{
                      font-size: 35px;
                      font-family: 'Playfair Display', serif;
                      line-height: 45px;
                    }
                    .txt{
                      font-family: 'Open Sans', sans-serif;
                      margin-top: 25px;
                      font-size: 20px;
                    }
                  }
                }
              }
              //^^^^^   Planes   ^^^^^^//
              //^^^^^   Planes   ^^^^^^//

            }

            .panel {
              box-shadow: 0px -10px 10px $shadow;
              height: 100%;
              width: 100%;

            }

            //^^^^^   Wiping panels   ^^^^^^//
            //^^^^^   Wiping panels   ^^^^^^//



            //vvvvv   CONTACTO   vvvvvv//
            //vvvvv   CONTACTO   vvvvvv//
            #conact-section{
              display: flex;
              align-items: center;
              justify-content: center;
              text-align: center;
              z-index: 30 !important;
              background-color: #0e0e0e;
              height: 100vh;

              #contact-wrapper{
                color: lightgray;
                .titulo{
                  font-family: 'Open Sans Condensed', sans-serif;
                  font-size: 60px;
                  font-weight: 800;
                }
                #contact-info{
                  font-family: 'Open Sans Condensed', sans-serif;
                  max-width: 800px;
                  font-weight: 300;
                  font-size: 20px;
                  margin-bottom: 30px;
                }
                .button-wrapper{
                  color: lightgray;
                  width: 100%;
                  button{
                    background-color: transparent;
                    border: 2px solid #00ADCF;
                    height: 50px;
                    width: 150px;
                    font-family: 'Open Sans Condensed', sans-serif;
                    font-size: 20px;

                    &:hover{
                      background-color: #fff;
                    }
                  }
                }
              }

            }
            //^^^^^   CONTACTO   ^^^^^^//
            //^^^^^   CONTACTO   ^^^^^^//


            //vvvvv   WAVE   vvvvvv//
            //vvvvv   WAVE   vvvvvv//
            .rotate{
              -ms-transform: rotate(90deg); // IE 9
              -webkit-transform: rotate(90deg); // Safari
              transform: rotate(90deg); // Standard syntax
            }

            #wave-canvas-vertical-1{
              position: relative;
              top: -500px;
            }
            canvas{
              width: 100%;
              height: 100%;
              background-color: transparent;
            }

            /* Scale canvas with resize attribute to full size */
            canvas[resize] {
              width: 100%;
              height: 100%;
            }

            //^^^^^   WAVE   ^^^^^^//
            //^^^^^   WAVE   ^^^^^^//

            ////////////////////    FOOTER    /////////////////////
            ////////////////////    FOOTER    /////////////////////
            ////////////////////    FOOTER    /////////////////////
            ////////////////////    FOOTER    /////////////////////
            ////////////////////    FOOTER    /////////////////////

            //vvvvv   FOOTER   vvvvvv//
            //vvvvv   FOOTER   vvvvvv//

            footer{
              width: 100%;
              bottom: 0;
              height: 200px;
              background-color: black;
            }

            //^^^^^   FOOTER   ^^^^^^//
            //^^^^^   FOOTER   ^^^^^^//
