@import url("https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700|Open+Sans:300,400,700|Playfair+Display:400,700");
@keyframes boing {
				0% {
								height: 150px;
								width: 150px;
				}
				50% {
								height: 155px;
								width: 155px;
				}
				100% {
								height: 153px;
								width: 153px;
				}
}

@keyframes scroll-ball {
				0% {
								webkit-transform: translateY(0);
								transform: translateY(0);
								opacity: 0;
				}
				40% {
								webkit-transform: translateY(0);
								transform: translateY(0);
								opacity: 1;
				}
				70% {
								opacity: 1;
				}
				100% {
								-webkit-transform: translateY(12px);
								transform: translateY(12px);
								opacity: 0;
				}
}

.no-decoration {
				text-decoration: none !important;
}

.hover-background-purple {
				content: '';
				display: block;
				position: absolute;
				top: 0;
				width: 47px;
				height: 47px;
				border-radius: 100%;
				background: rebeccapurple;
				-webkit-transform: scale(0);
				transform: scale(0);
				-webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
				transition: opacity 0.3s, -webkit-transform 0.3s;
				transition: transform 0.3s, opacity 0.3s;
				transition: transform 0.3s, opacity 0.3s, -webkit-transform 0.3s;
				transition: transform 0.3s cubic-bezier(0.54, 1.54, 0.43, 0.94), -webkit-transform 0.3s cubic-bezier(0.54, 1.54, 0.43, 0.94);
				z-index: -1;
}

.hover-background-purple:hover {
				-webkit-transform: scale(1);
				transform: scale(1);
}

html,
body {
				margin: 0;
				height: 100%;
}

.center {
				display: flex;
				align-items: center;
				justify-content: center;
}

.separador {
				height: 2px;
				width: 50%;
}

.separador-mini {
				margin: -10px 0 20px !important;
				width: 60px;
}

.separador-contacto {
				margin-bottom: 25px;
				position: relative;
				width: 200px;
				margin: 10px auto 35px;
				background-color: #00ADCF;
}

.separador-planes {
				margin: -5px 0 5px;
				background-color: white;
}

#menu-bar {
				position: relative;
				width: 100%;
				top: 50px;
				height: 65px;
				z-index: 3;
				animation-name: aparecer_menu;
				animation-duration: 1s;
				animation-fill-mode: forwards;
				animation-timing-function: ease;
				animation-delay: 1s;
				opacity: 0;
				display: flex;
				align-items: center;
				color: white;
}

@keyframes aparecer_menu {
				from {
								opacity: 0;
				}
				to {
								opacity: 1;
				}
}

#menu-bar #extra-icons #menu-icons-wrapper {
				margin-left: 50px;
				display: flex;
				justify-content: center;
				align-items: center;
}

#menu-bar #extra-icons #menu-icons-wrapper .menu-icon {
				cursor: pointer;
}

#menu-bar #extra-icons #menu-icons-wrapper .menu-icon a {
				width: 47px;
				height: 47px;
}

#menu-bar #extra-icons #menu-icons-wrapper .menu-icon a:hover div.hover-background-purple {
				-webkit-transform: scale(1);
				transform: scale(1);
}

#menu-bar #extra-icons #menu-icons-wrapper .menu-icon a i {
				pointer-events: none;
}

#menu-bar #extra-icons #menu-icons-wrapper #contacto-wrapper {
				margin: 0 4px;
				font-size: 21px;
				width: 50px;
				height: 50px;
				display: flex;
				justify-content: center;
				align-items: center;
}

#menu-bar #extra-icons #menu-icons-wrapper #contacto-wrapper:hover {
				border-radius: 100%;
}

#menu-bar #extra-icons #menu-icons-wrapper #share-wrapper {
				margin: 0 4px;
				font-size: 21px;
				width: 50px;
				height: 50px;
				display: flex;
				justify-content: center;
				align-items: center;
}

#menu-bar #extra-icons #menu-icons-wrapper #share-wrapper:hover {
				border-radius: 100%;
}

#menu-bar #extra-icons #menu-icons-wrapper #lang-wrapper {
				margin: 0 4px;
				font-size: 21px;
				width: 50px;
				height: 50px;
				display: flex;
				justify-content: center;
				align-items: center;
}

#menu-bar #extra-icons #menu-icons-wrapper #lang-wrapper:hover + .text {
				margin-left: 0;
				-moz-transition: all 0.5s ease;
				-o-transition: all 0.5s ease;
				-webkit-transition: all 0.5s ease;
}

#menu-bar #extra-icons #menu-icons-wrapper #lang-wrapper:hover i {
				border-radius: 100%;
}

#menu-bar #extra-icons #menu-icons-wrapper #lang-wrapper + .text {
				font-size: 18px;
				margin-left: -10px;
				-moz-transition: all 0.5s ease;
				-o-transition: all 0.5s ease;
				-webkit-transition: all 0.5s ease;
}

#menu-bar #extra-icons #menu-icons-wrapper #lang-wrapper a {
				display: flex;
				justify-content: center;
				align-items: center;
}

#menu-bar #extra-icons #menu-icons-wrapper #lang-wrapper a i {
				font-size: 21px;
				width: 50px;
				height: 50px;
				display: flex;
				justify-content: center;
				align-items: center;
}

#menu-bar #menu-icon-wrapper {
				position: fixed;
				right: 50px;
				top: 42px;
}

#menu-bar #menu-icon-wrapper #menu-icon {
				display: inline-block;
				z-index: 9999;
				mix-blend-mode: multiply;
				color: white;
				height: 60px;
				width: 60px;
				background-color: #39ADFF;
				font-size: 32px;
				display: flex;
				justify-content: center;
				align-items: center;
				border-radius: 100%;
}

#indicadores {
				position: fixed;
				right: 3%;
				z-index: 99 !important;
				height: 100vh;
				width: 20px;
}

#indicadores .indicator-ul {
				list-style-type: none;
}

#indicadores .indicator-ul li {
				display: flex;
				justify-content: center;
				height: 30px;
				align-items: center;
}

#indicadores .indicator-ul li .indicador {
				display: block;
				width: 8px;
				height: 8px;
				overflow: hidden;
				border: 2px solid white;
				border-radius: 100%;
				margin-bottom: 20px;
}

#indicadores .indicator-ul li .indicador:hover {
				height: 10px;
				width: 10px;
				background-color: #fff;
}

#indicadores .indicator-ul li .active {
				background-color: #f00 !important;
				width: 12px !important;
				height: 12px !important;
}

#section-wipes {
				position: relative;
				margin-top: -65px;
				height: 100vh;
}

@keyframes barra {
				from {
								height: 120px;
				}
				to {
								height: 0;
				}
}

#section-wipes .rect-top {
				height: 120px;
				width: 100%;
				background-color: black;
				position: absolute;
				z-index: 2;
				animation-name: barra;
				animation-duration: 1s;
				animation-fill-mode: forwards;
				animation-timing-function: ease;
				animation-delay: 0.5s;
}

#section-wipes .rect-bot {
				height: 120px;
				width: 100%;
				background-color: black;
				position: absolute;
				z-index: 2;
				bottom: 0;
				animation-name: barra;
				animation-duration: 1s;
				animation-fill-mode: forwards;
				animation-timing-function: ease;
				animation-delay: 0.5s;
}

@keyframes barra {
				from {
								height: 120px;
				}
				to {
								height: 0;
				}
}

#section-wipes .scene-wrapper {
				position: relative;
				height: 100vh;
				width: 100%;
				z-index: 0 !important;
				overflow: hidden;
				/* comment this line to see what happens behind the scenes */
}

#section-wipes .scene {
				background-image: url("../img/sky-2.jpg");
				background-color: #28282c;
				background-size: cover;
				position: relative;
				padding: 0;
				margin: 0;
				overflow: hidden;
				animation-name: example;
				animation-duration: 1s;
				animation-fill-mode: forwards;
}

@keyframes example {
				from {
								transform: scale(2);
				}
				to {
								transform: scale(1);
				}
}

#section-wipes .scene #logo, #section-wipes .scene #serv_1, #section-wipes .scene #serv_2, #section-wipes .scene #serv_3, #section-wipes .scene #serv_4, #section-wipes .scene #serv_5, #section-wipes .scene #serv_6 {
				position: relative;
				height: 150px;
				width: 150px;
}

#section-wipes .scene #logo .button__text, #section-wipes .scene #serv_1 .button__text, #section-wipes .scene #serv_2 .button__text, #section-wipes .scene #serv_3 .button__text, #section-wipes .scene #serv_4 .button__text, #section-wipes .scene #serv_5 .button__text, #section-wipes .scene #serv_6 .button__text {
				color: #fff;
				font-family: 'Open Sans Condensed', sans-serif;
}

#section-wipes .scene #logo {
				top: 22vh !important;
				left: 37vw !important;
				height: 300px;
				width: 300px;
}

#section-wipes .scene #serv_1 {
				top: 9vh !important;
				left: 5vw !important;
}

#section-wipes .scene #follow_1 {
				height: 160px;
				width: 160px;
}

#section-wipes .scene #follow_1 img {
				width: 100%;
}

#section-wipes .scene #serv_2 {
				top: 47vh !important;
				left: -5vw !important;
}

#section-wipes .scene #follow_2 {
				height: 120px;
				width: 120px;
}

#section-wipes .scene #follow_2 img {
				width: 100%;
}

#section-wipes .scene #serv_3 {
				top: 76vh !important;
				left: 16vw !important;
}

#section-wipes .scene #follow_3 {
				height: 90px;
				width: 90px;
}

#section-wipes .scene #follow_3 img {
				width: 100%;
}

#section-wipes .scene #serv_4 {
				top: 35vh !important;
				left: 75vw !important;
}

#section-wipes .scene #follow_4 {
				height: 100px;
				width: 100px;
}

#section-wipes .scene #follow_4 img {
				width: 100%;
}

#section-wipes .scene #serv_5 {
				top: 74vh !important;
				left: 88vw !important;
}

#section-wipes .scene #follow_5 {
				height: 150px;
				width: 150px;
}

#section-wipes .scene #follow_5 img {
				width: 100%;
}

#section-wipes .scene #serv_6 {
				top: 9vh !important;
				left: 97vw !important;
}

#section-wipes .scene #follow_6 {
				height: 200px;
				width: 200px;
}

#section-wipes .scene #serv_7 {
				top: 74vh !important;
				left: 88vw !important;
}

#section-wipes .scene #follow_7 {
				height: 150px;
				width: 150px;
}

#section-wipes .scene #follow_7 img {
				width: 100%;
}

#section-wipes .scene #scroll-down {
				top: 90vh !important;
				right: 0;
				text-align: center;
				background: none;
				border: none;
}

#section-wipes .scene #mouse-wheel {
				animation: scroll-ball ease-in-out 1.9s infinite;
}

#section-wipes .scene .logo-tuvitrina {
				background-image: url("../img/logo-tuvitrina.png");
}

#section-wipes .scene .logo-onewing {
				background-image: url("../img/logo-onewing-04.png");
}

#section-wipes .scene .onewing-img {
				height: 320px;
				width: 320px;
				background-size: contain;
				background-repeat: no-repeat;
				transition: filter 0.2s ease;
}

#section-wipes .scene .onewing-img:hover {
				-webkit-filter: saturate(2);
				/* Safari 6.0 - 9.0 */
				filter: saturate(2);
				transition: filter 0.2s ease;
				cursor: pointer;
}

#section-wipes .scene .service-img {
				background-size: contain;
				background-repeat: no-repeat;
				transition: filter 0.2s ease;
				-webkit-filter: saturate(1);
				/* Safari 6.0 - 9.0 */
				filter: saturate(1);
}

#section-wipes .scene .service-img:hover {
				transition: filter 0.2s ease;
				cursor: pointer;
}

#section-wipes .scene button {
				transition: background 0.5s ease;
				border-radius: 100%;
				overflow: hidden;
}

#section-wipes .scene button:hover {
				order-radius: 100%;
				overflow: hidden;
				background: #00FFAA;
				transition: background 0.5s ease;
}

#section-wipes .fill {
				position: absolute !important;
				bottom: 0%;
				right: 0%;
				left: 0%;
				top: 0%;
}

#section-wipes .expand-width {
				width: 50%;
}

#section-wipes .border {
				border: 2px dashed #00FFAA;
}

#section-wipes .wrapper {
				position: relative;
				max-width: 600px;
				margin: 0 auto;
				padding: 5%;
}

#section-wipes #planes-section {
				box-shadow: 0px -10px 10px rgba(0, 0, 0, 0.5);
				z-index: 10  !important;
}

#section-wipes #planes-section #planes-wrapper {
				z-index: 11  !important;
				display: flex;
				margin: 0 !important;
				padding: 0 !important;
				height: 100vh;
}

#section-wipes #planes-section #planes-wrapper .plan-apolo-wrapper {
				margin: 0;
				background-color: #0CAACF;
				z-index: 12 !important;
				width: 100%;
				height: 100%;
				padding: 35px 15px;
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;
}

@media (min-width: 991px) {
				#section-wipes #planes-section #planes-wrapper .plan-apolo-wrapper {
								width: 60%;
				}
}

#section-wipes #planes-section #planes-wrapper .otros-planes-wrapper {
				margin: 0;
				background-color: #0554fa;
				z-index: 12 !important;
				width: 100%;
				height: 100%;
}

@media (min-width: 991px) {
				#section-wipes #planes-section #planes-wrapper .otros-planes-wrapper {
								width: 40%;
				}
}

#section-wipes #planes-section #planes-wrapper .otros-planes-wrapper .plan-ares-wrapper {
				margin: 0;
				height: 50%;
				width: 100%;
				background-color: #E6535B;
				padding: 35px 15px;
				z-index: 13 !important;
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;
}

#section-wipes #planes-section #planes-wrapper .otros-planes-wrapper .plan-athenea-wrapper {
				margin: 0;
				padding: 35px 15px;
				height: 50%;
				width: 100%;
				background-color: #5F4896;
				z-index: 13 !important;
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;
}

#section-wipes #planes-section #planes-wrapper .img-wrapper {
				width: 50%;
				margin: auto;
}

#section-wipes #planes-section #planes-wrapper .img-wrapper .wordpress {
				max-height: 220px;
}

#section-wipes #planes-section #planes-wrapper .img-wrapper img {
				width: 100%;
}

#section-wipes #planes-section #planes-wrapper .info-wrapper {
				color: white;
				padding: 0 10%;
				width: 100%;
}

#section-wipes #planes-section #planes-wrapper .info-wrapper .tittle {
				font-size: 30px;
				font-family: 'Open Sans Condensed', sans-serif;
				font-weight: bold;
				text-transform: uppercase;
}

#section-wipes #planes-section #planes-wrapper .info-wrapper .info {
				font-family: 'Open Sans', sans-serif;
				font-size: 18px;
				margin-bottom: 25px;
}

#section-wipes #planes-extra-section {
				box-shadow: 0px -10px 10px rgba(0, 0, 0, 0.5);
				z-index: 20  !important;
}

#section-wipes #planes-extra-section #planes-extra-wrapper {
				display: flex;
				margin: 0 !important;
				padding: 0 !important;
				height: 100vh;
				z-index: 21 !important;
}

#section-wipes #planes-extra-section #planes-extra-wrapper .extra-plans-img {
				background-color: #B1C041;
				height: 100%;
				width: 60%;
				margin: 0;
				z-index: 22 !important;
				overflow: hidden;
				position: relative;
}

#section-wipes #planes-extra-section #planes-extra-wrapper .extra-plans-img img {
				position: absolute;
				left: -10px;
				bottom: 0;
				max-width: 1024px;
}

#section-wipes #planes-extra-section #planes-extra-wrapper .extra-plans-info {
				color: white;
				background-color: #384780;
				height: 100%;
				width: 40%;
				margin: 0;
				z-index: 22 !important;
				padding: 30px 4%;
				display: flex;
				flex-direction: column;
				justify-content: center;
}

#section-wipes #planes-extra-section #planes-extra-wrapper .extra-plans-info .tittle {
				color: #B1C041;
				font-size: 25px;
				margin-bottom: 15px;
				font-family: 'Open Sans Condensed', sans-serif;
				font-weight: bold;
				text-transform: uppercase;
				display: flex;
				align-items: center;
}

#section-wipes #planes-extra-section #planes-extra-wrapper .extra-plans-info .tittle i {
				font-size: 15px;
				margin-right: 10px;
}

#section-wipes #planes-extra-section #planes-extra-wrapper .extra-plans-info .bigText {
				font-size: 35px;
				font-family: 'Playfair Display', serif;
				line-height: 45px;
}

#section-wipes #planes-extra-section #planes-extra-wrapper .extra-plans-info .txt {
				font-family: 'Open Sans', sans-serif;
				margin-top: 25px;
				font-size: 20px;
}

.panel {
				box-shadow: 0px -10px 10px rgba(0, 0, 0, 0.5);
				height: 100%;
				width: 100%;
}

#conact-section {
				display: flex;
				align-items: center;
				justify-content: center;
				text-align: center;
				z-index: 30 !important;
				background-color: #0e0e0e;
				height: 100vh;
}

#conact-section #contact-wrapper {
				color: lightgray;
}

#conact-section #contact-wrapper .titulo {
				font-family: 'Open Sans Condensed', sans-serif;
				font-size: 60px;
				font-weight: 800;
}

#conact-section #contact-wrapper #contact-info {
				font-family: 'Open Sans Condensed', sans-serif;
				max-width: 800px;
				font-weight: 300;
				font-size: 20px;
				margin-bottom: 30px;
}

#conact-section #contact-wrapper .button-wrapper {
				color: lightgray;
				width: 100%;
}

#conact-section #contact-wrapper .button-wrapper button {
				background-color: transparent;
				border: 2px solid #00ADCF;
				height: 50px;
				width: 150px;
				font-family: 'Open Sans Condensed', sans-serif;
				font-size: 20px;
}

#conact-section #contact-wrapper .button-wrapper button:hover {
				background-color: #fff;
}

.rotate {
				-ms-transform: rotate(90deg);
				-webkit-transform: rotate(90deg);
				transform: rotate(90deg);
}

#wave-canvas-vertical-1 {
				position: relative;
				top: -500px;
}

canvas {
				width: 100%;
				height: 100%;
				background-color: transparent;
}

/* Scale canvas with resize attribute to full size */
canvas[resize] {
				width: 100%;
				height: 100%;
}

footer {
				width: 100%;
				bottom: 0;
				height: 200px;
				background-color: black;
}
